.widget {
    grid-column:1;
    margin-top:10px;
    background-color: #ffffff;
}

.widget-header {
    color: #ffffff;
    background-color: #8935c0;
    border-radius: 4px 4px 0 0;
    padding: 12px 14px;
}

.filter {
    display:grid;
    grid-auto-flow:column;
    grid-auto-columns: repeat(4 1fr);
    grid-auto-rows: 56px;
    align-items: center;
    justify-content: center;  
    padding:0 0;
    grid-gap: 5px; 
    border-top: 1px solid #ebedf5; 
}

.button {
    height: 34px;
    width: 45px;
    border: 1px solid #8935c0;
    border-radius: 3px;
    color: #8935c0;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 36px;
    text-transform: capitalize;
    text-align: center;
    align-content: center;
    box-sizing: border-box;
    display:block;
    float:none;
    line-height:17.1px;
    position:relative;
    padding-top:5px;
}


.selected {
    background-color: #8935c0;
    color: #fff !important;
    border: 1px solid #fff;
}

.selected > svg {
    color: #fff;
}
.button-icon {
    height: 24px;
    width: 24px;
    color:  #8935c0;
    fill: currentColor;
}
.events {
    display: grid;
    grid-template-columns: repeat(4 222px);
    grid-auto-rows: 40px;    
}   

.event {
    display: grid;
    grid-template-columns: 32px auto 32px;
    grid-template-rows: 20px 20px;
    font-size: 12px;
    font-weight: 400;
    border-top: 1px solid #ebedf5;
    align-content: center;
    padding: 10px 0;
}

.event-logo {
    grid-column: 1;
    grid-row: 1/2;
    height:32px;
    width: 32px;
}

.event-location {
    grid-column: 2;
    grid-row: 1;
}

.event-race {
    grid-column: 2;
    grid-row: 2;
}

.event-countdown {
    grid-column: 3;
    grid-row: 1/2;
    justify-content: right;
    align-content:stretch;
}