.navbar {
    display: grid;
    padding: 0px 80px;
    grid-template-columns: 144px 106px auto;
    grid-template-rows: repeat (3 80px);
    align-items: center; 
    justify-items: center;   
    background-color: #ffffff;
    border-bottom: 1px solid #eef0f4;    
}

.logo {
    grid-column: 1;
    border-right: 1px solid #eef0f4;
}

.icon-betEasy {
    width:104px;
    height:60px;
    margin:0 20px;
}

.navbar-item {
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    border-right: 1px solid #eef0f4;
    width:106px;
}

.navbar-icon {
    color: #afafaf;
    height: 27px;
    width: 27px;
}

.navbar-text {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color:#232539;
}
